*{box-sizing: border-box;}
h1, h2, h3 {margin: 0;}
ul, li {margin: 0; padding: 0; list-style: none;}

body {
  background-color: #1a1a1a;
}

.App {
  text-align: center;
  margin: 30px auto;
  width: 600px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
}

.todohead {
  background-color: firebrick;
  color: white;
  // border-bottom: 1px solid black;
  
  > h2 {
    padding: 30px 0;
    text-transform: uppercase;
  }
  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10% 20px;
    position: relative;
  }

  .btns {
    display: flex;
    gap: 7px;
    position: absolute;
    right: 3%;
    bottom: 0;

    button {
      width: 60px;
      border-radius: 10px 10px 0 0;
      padding: 5px 10px;
      background-color: white;
      border: none;
      border-bottom: none;
      transition: 0.2s;

      &:hover {
        font-weight: bold;
      }
    }
  }
}

.todolist {
  padding: 10px 10%;
  height: 400px;
  overflow-y: scroll;
}

.todoitem {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px dashed gray;

  &.success {
    text-decoration: line-through;
    color: green;
  }
}

.todoinsert {
  border-top: 1px solid black;
  margin-top: 10px;
  padding: 20px 10%;

  form {
    display: flex;
    justify-content: space-between;
    width: 100%;

    input {
      width: 90%;
    }
  }
}